body {
  display: flex;
  flex-direction: column;
  height: auto;
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: rgb(16, 18, 44); /* Color de fondo para toda la página */
  background-image: url();
}

.app-container {
  display: flex;
  flex-direction: column;
 
}

header {
  background-color: rgb(16, 18, 44); /* Color de fondo para el encabezado */
  color: white;
  text-align: center;
  padding: 10px;
  flex-grow: 1;
}

main {
  flex-grow: 1;
  padding: 20px;
  margin-bottom: 80px; /* Ajusta este valor según sea necesario para dar espacio al footer */
  height: auto;
  flex-grow: 3;
}

footer {
  background-color:  rgb(16, 18, 44); /* Color de fondo para el footer */
  color: white;
  text-align: center;
  height: auto;
  flex-grow: 1;
}

.container {
  display: flex;
  align-items: flex-start; /* Ajusta para alinear en la parte superior */
  justify-content: center;
  height: auto;
}

.form-wrapper {
  width: 300px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: white;
}

.label {
  display: block;
  margin-bottom: 8px;
}

.input {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  box-sizing: border-box;
}

.button {
  width: 100%;
  padding: 10px;
  background-color: #4caf50;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button:hover {
  background-color: #45a049;
}